@media screen and (max-width: 1920px){
    .about_gradient{
        top: -100%;
    }
}
@media screen and (max-width: 1620px){
    .about_gradient{
        top: -86%;
    }
}
/* IPad Pro*/
@media screen and (max-width: 1024px){
    body{
        padding: 0 10px 10px;
    }
    .header_nav_link {
        margin-right: 36px;
    }
    .hero_bubbles {
        width: 100%;
        height: 100%;
        padding: 78px 20px 0px 40px;
        z-index: 1;
        &_items{
            height: 30%;
        }
    }
    .hero_bubbles_item_1{
        transform: translate(20.3125vw, 0vw);
    }
    .hero_bubbles_item_2{
        transform: translate(-4.2vw, 2.343vw);
    } 
    .hero_bubbles_item_3{
        transform: translate(-3.9vw, 15.625vw);
    }
    .hero_bubbles_item_4{
        transform: translate(1.953vw, 23.6328vw);
    }
    .hero_bubbles_item_5{
        transform: translate(2.148vw, 34.375vw);
    }
    .hero_bubbles_item_6{
        transform: translate(-6.8359vw, 33.203vw);
    }
    .hero_bubbles_item_w {
        margin-top: 140px;
    }
    .hero_team{
        margin-top: 84px;
    }
    .hero_image1{
        height: 274px;
    }
    .progress {
        padding: 60px 20px;
        &.progress_fz52{
            padding: 60px 0;
        }
        &_item_text_fz18{
            text-wrap: nowrap;
        }
    }
    .card_item {
        grid-template-rows: auto;
    }
    .services {
        padding: 80px 0px 60px 0px;
    }
    .services_cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .card {
        column-gap: 48px;
    }
    .packages_card_text {
        margin-right: 48px;
    }
    .popup_wrapper {
        width: 100%;
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .popup_close {
        z-index: 6;
        top: 10px;
        right: 10px;
    }
    .applications {
        padding: 80px 0px 120px 0px;
    }
    .applications_cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .contact_us {
        padding-bottom: 20px;
    }
    .cases_container{
        transform: translateY(19.5vw);
    }
    .team{
        padding: 60px 0 120px 0;
        &_cards{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .contact_col:first-child{
        padding: 80px 50px;
    }
    .hero_gradient{
        width: auto;
        height: auto;
    }
    .hero_gradient_contact {
        width: auto;
        height: auto;
    }
    .hero_content_contact{
        margin-top: 11.718vw;
    }
    .footer_bottom{
        align-self: center;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 960px){
    .header_nav_link{
        margin-right: 24px;
        &:nth-child(4){
            margin-right: 24px;
        }
    }
    .hero_content_contact{
        width: 80%;
        margin-top: 12.5vw;
    }   
    .hero_content_team{
        width: 80%;
    }
    .hero_bubbles {
        padding: 61px 0px 40px 0px;
        z-index: 1;
    }
    .hero_title{
        padding-top: 0px;
        &_contact{
            padding-top: 40px;
        }
        &_team{
            max-width: 881px;
            padding-top: 80px;
        }
    }
    .contact_col{
        padding: 60px 40px;
        &:first-child{
            padding: 60px 40px;
        }
        &_title{
            padding-bottom: 60px;
        }
        &_info{
            margin-top: 60px;
        }
        &_item:first-child{
            padding: 28px 17.5px;
        }
    }
    .contact_us_modal{
        min-height: 732px;
    }
    .button{
        margin-top: 48px;
    }
    .consultation_button{
        margin-top: 60px;
    }
    .packages_button{
        margin-top: 0;
    }
    .hero_bubbles_item_w {
        margin-top: 48px;
    }
    .about_description{
        padding: 100px 0;
    }
    .about_figures{
        padding: 0 0 251px 0;
    }
    .about_gradient{
        top: -35%;
        width: 100%;
        height: auto;
    }
    .card_col-1_gradient{
        width: 100%;
    }
    .services {
        padding: 60px 0px;
    }
    .packages{
        padding-top: 60px 0px;
    }
    .applications{
        padding: 60px 0;
    }
    .applications_cards{
        grid-template-columns: 1fr 1fr;
    }
    .cases_container{
        transform: translateY(32.5vw);
    }
    .swiper-slide{
        width: 39.583vw;
        height: 48.75vw;
    }
    .footer_title{
        width: 60.636vw;
    }
    .footer_logo{
        width: 12.2916vw;
        height: 13.333vw;
    }
}
@media screen and (max-width: 860px){
    .header_nav_link{
        display: none;
    }
    .header_nav_button{
        display: none;
    }
    .header_humburger{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer_top{
        row-gap: 60px;
        grid-template-columns: 1fr 1fr;
    }
}
/*IPad Air*/
@media screen and (max-width: 820px){
    .title{
        font-size: 50px;
    }
    .hero_bubbles_item_3{
        transform: translate(-0.7vw, 9vw);
    }
    .hero_bubbles_item_4{
        transform: translate(0.5vw, 20vw);
    }
    .hero_contact{
        height: calc(100vh - 84px);
    }
    .card{
        padding-right: 24px;
        column-gap: 24px;
        &_title{
            font-size: 28px;
        }
        &_col-2{
            width: 50%;
        }
    }
    .card .col-1{
        max-width: 50%;
    }
    .card .col-2{
        width: 50%;
    }
    .services_card{
        padding: 36px;
        min-height: 518px;
    }
    .popup_card_title{
        font-size: 28px;
    }
    .applications_card{
        min-height: 382.4px;
    }
    .progress{
        font-size: 68px;
    }
    .team_cards{
        grid-template-columns: 1fr 1fr;
    }
    .contact{
        flex-direction: column;
        flex-wrap: wrap;
         &_col{
            width: 100%;
            height: fit-content;
            column-gap: 0;
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
}
/*Ipad Mini*/
@media screen and (max-width: 769px){
    .hero_bubbles_item_3{
        transform: translate(0vw, 4.8vw);
    }
    .hero_bubbles_item_2{
        transform: translate(-4vw, 4.8vw);
    }
    .cases_text{
        text-wrap: nowrap;
    }
    .reviews_block1, .reviews_block2{
        display: none;
    } 
}
@media(max-width: 640px){
    .title{
        letter-spacing: -1.44px;
        font-size: 48px;
        line-height: 110%;
    }
    .header{
        padding: 10px 16px;
    }
    .hero_bubbles_items{
        height: auto;
    }
    .hero_bubbles_item:after, 
    .hero_bubbles_name{
        display: none;
    }
    .hero_bubbles_item_1{
        transform: translate(80px, 0px);
    }
    .hero_bubbles_item_2{
        transform: translate(0px, 24px);
    }
    .hero_bubbles_item_3{
        transform: translate(-20px, 150px);
    }
    .hero_bubbles_item_4{
        transform: translate(120px, 282px); 
    }
    .hero_bubbles_item_5{
        transform: translate(80px, 350px); 
    }
    .hero_bubbles_item_6{
        transform: translate(0px, 374px); 
    }
    .about_gradient{
        top: -15%;
    }
    .hero_content{
        width: 100%;
        &_contact{
            margin-top: 18.75vw;
        }
    }
    .hero_title{
        font-size: 50px;
    }
    .hero_map{
        width: 96.875vw;
        height: 32.5vw;
    }
    .contact{
        flex-wrap: wrap;
        flex-direction: column;
        &_col{
            width: 100%;
            height: fit-content;
            column-gap: 0;
            &:first-child{
                margin-bottom: 10px;
            }
        }
    }
    .contact_us_modal{
        min-height: 703px;
    }
    .consultaion_img{
        display: none;   
    }
    .card .col-1{
        max-width: 0;
        height: 0px;
    }
    .services_cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .packages_nav_link{
        width: 132px;
        height: 48px;
    }
    .card{
        max-width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 0;
        column-gap: 0;
        &_col-1{
            max-width: 100%;
            &_img{
                height: 394px;
            }
        }
        &_col-2{
            padding: 32px;
            width: 100%;
        }
        &_title{
            padding: 0;
            font-size: 28px;
        }
        &_button{
            max-width: 100%;
            margin-top: 32px;
            width: 100%;
            margin-bottom: 0;
        }
        &_consultation{
            padding: 28px 0;
        }
    }
    .packages_card_items{
        margin-top: 24px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .packages_card_item{
        width: 100%;
        padding: 0;
        height: 48px;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        border-left: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .packages_card_text{
        padding-top: 24px;
    }
    .consultation_button{
        margin-bottom: 0;
    }
    .applications_cards{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .packages_button{
       margin-top: 0;
    }
    .popup_button{
        max-width: 100%;
    }
    .popup_col-1{
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;
        max-width: 100%;
        text-align: left;
    }
    .popup_card_title{
        font-size: 28px;
    }
    .popup_col-2{
        max-width: 100%;
    }
    .cases_container{
        transform: translateY(0);
    }
    .swiper-slide{
        width: 59.375vw;
        height: 73.125vw;
    }
    .contact_us{
        padding-top: 60px;
        padding-bottom: 10px;
        &_form{
            padding: 88px 32px;
        }
        &_modal{
            padding: 0 32px;
        }
    }
    .progress.progress_fz52{
        column-gap: 24px;
        padding: 60px 20px;
    }
    .team{
        &_cards{
            column-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }
    .subtitle_team{
        padding-bottom: 32px;
    }
    .footer{
        padding: 60px 48px;
        &_top{
            column-gap: 48px;
            row-gap: 80px;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            &_title{
                font-size: 34px;
            }
            &_social{
                margin-top: 22px;
            }
        }
        &_middle{
            padding-top: 66px;
        }
        &_logo{
            width: 12.692vw;
            height: 13.768vw;
        }
        &_title{
            margin-top: 22.49px;
            width: 62.615vw;
        }
    }
}
@media(max-width: 480px){
    .subtitle{
        padding-bottom: 32px;
        &_contact{
            padding-bottom: 0;
        }
    }
    .cookies-wrapper{
        text-wrap: nowrap;
        right: 7px;
        left: 8px;
    }
    .header{
        padding: 10px 10px;
    }
    .header_logo_label{
        display: none;
    }
    .header_logo_icon{
        width: 40px;
        height: 40px;
    }
    .header_logo_badge{
        width: 139px;
        height: 40px;
    }
    .hero_title{
        font-size: 44px;
        line-height: 110%;
    }
    .hero_contact{
        height: calc(99vh - 74px);
    }
    .hero_bubbles{
        display: none;
    }
    .hero_content_contact{
        width: 88%;
        margin-top: 25vw;
    }
    .about_description{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .title{
        letter-spacing: -1.08px;
        font-size: 36px;
        line-height: 110%;
    }
    .progress{
        row-gap: 60px;
        font-size: 52px;
        padding: 48px 40px;
        grid-template-columns: 1fr;
        &.progress_fz52{
            padding: 60px 0;
            font-size: 36px;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &_item_text_fz18{
            font-size: 17px;
            text-wrap: wrap;
        }
    }
    .progress_item_line{
        margin: 20px 0;
        &_team{
            margin: 32px 0;
        }
    }
    .consultation{
        padding: 40px 0;
        &_button{
            margin-top: 40px;
        }
    }
    .card_consultation{
        padding: 8px 0;
    }
    .card_item_text{
        font-size: 17px;
    }
    .card_title, .popup_card_title{
        white-space: normal;
        font-size: 24px;
    }
    .popup_wrapper {
        top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .popup_close {
        width: 48px;
        height: 48px;
        top: 20px;
        right: 20px;
    }
    .popup_card_item{
        width: 100% !important;
    }
    .services{
        padding: 48px 0;
        &_cards{
            gap: 10px;
            margin-top: 60px;
        }
        &_card{
            padding: 32px;
            &_title{
                padding-top: 48px;
            }
        }
    }
    .applications{
        padding: 48px 0px;
        &_cards{
            margin-top: 48px;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
        &_content{
            height: calc(100% - 54px);
        }
    }
    .reviews{
        padding: 48px;
        &_block1{
            display: none;
        }
        &_block2{
            display: none;
        }
        &_badges{
            row-gap: 28px;
            margin-top: 60px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .cases{
        padding: 48px 0;
    }
    .contact_col{
        padding: 20px 0px;
        &:first-child{
            padding: 60px 24px;
        }
        &_title{
            font-size: 30px;
            letter-spacing: -0.9px;
        }
        &_items{
            row-gap: 10px;
            flex-direction: column;
        }
        &_item{
            width: 100%;
        }
        &_info{
            font-size: 22px;
        }
    }
    .swiper-wrapper{
        padding-top: 60px;
    }
    .swiper-slide{
        width: 79.167vw;
        height: 97.5vw;
    }
    .packages{
        padding: 48px 0;
        &_nav{
            margin-top: 40px;
            gap: 10px;
            &_link:nth-child(2){
                width: 148px;
            }
        }
        &_cards{
            row-gap: 10px;
            padding-top: 60px;
            padding-bottom: 50px;
        }

    }
    .contact_us{
        padding-top: 10px;
        &_form{
            padding: 40px 24px;
            &_title{
                letter-spacing: -0.9px;
                font-size: 30px;
            }
        }
        &_modal{
            padding: 0 20px;
        }
        &_label{
            text-align: left;
        }
    }
    .team{
        padding: 48px 0 98px 0;
        &_cards{
            grid-template-columns: 1fr;
        }
        &_card_name{
            font-size: 22px;
        }
    }
    .contact_us_modal{
        min-height: 712px;
    }
    .footer{
        padding: 40px 24px;
        &_top{
            column-gap: 0;
            row-gap: 40px;
            &_title{
                font-size: 30px;
            }
            &_social{
                margin-top: 36px;
            }
            &_item:last-child{
                margin-top: 12px;
            }
        }
        &_middle{
            display: flex;
            justify-content: flex-start;
            column-gap: 6px;
            padding-top: 46px;
        }
        &_logo{
            width: 10.306vw;
            height: 11.179vw;
        }
        &_title{
            margin-top: 14.09px;
            width: 244.39px;
            height: 39.57px;
        }
        &_middle{
            column-gap: 13px;
        }
        &_bottom{
            flex-wrap: wrap;
            align-self: center;
            margin-top: 40px; 
        }
    }
}
@media(max-width: 375px){
    .header_logo_icon{
        width: 40px;
        height: 40px;
    }
    .header_logo_badge{
        width: 139px;
        height: 40px;
    }
    .hero_content_contact{
        width: 90%;
        margin-top: 32vw;
    }
    .swiper-slide{
        width: 94.666vw;
        height: 124.8vw;
    }
    .footer_title{
        width: 62vw;
        margin-top: 18.09px
    }
    .footer_middle{
        column-gap: 5px;
    }
    .footer_logo{
        width: 13.218vw;
        height: 14.309vw;
    }
}
